<!DOCTYPE html>
<html data-theme="pneumo">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PneusPage{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.svg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block extra_css %}{% endblock %}
</head>
<body class="min-h-screen flex flex-col bg-white">
    {% include 'components/navbar.html' %}
    
    <main class="flex-1 flex flex-col">
        {% block content %}{% endblock %}
    </main>
    
    {% include 'components/footer.html' %}
    
    {% block extra_js %}{% endblock %}
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <script src="https://code.jquery.com/jquery-latest.js"></script>
</body>
</html>
