<!-- Navbar Component -->
<nav class="navbar shadow-lg" style="background-color: #f3deff;">
    <div class="navbar-start">
        <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
                </svg>
            </label>
            <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-white rounded-box w-52">
                <li><a href="/doc" class="text-gray-700 hover:bg-purple-100 {% if active_page == 'doc' %}bg-purple-100{% endif %}">DOCUMENTATION</a></li>
                {% if login == True %}
                    <li><a href="/submit" class="text-gray-700 hover:bg-purple-100 {% if active_page == 'submit' %}bg-purple-100{% endif %}">SUBMIT</a></li>
                    <li><a id="nav-result-mobile" href="#" class="text-gray-700 hover:bg-purple-100 {% if active_page == 'result' %}bg-purple-100{% endif %}">RESULT</a></li>
                    <li><a href="/mypage" class="text-gray-700 hover:bg-purple-100 {% if active_page == 'mypage' %}bg-purple-100{% endif %}">MYPAGE</a></li>
                {% endif %}
            </ul>
        </div>
        <a href="/" class="btn btn-ghost text-xl lg:text-3xl font-bold font-['Raleway',sans-serif]">
            <img src="{{ url_for('static', filename='images/logo.svg') }}" class="h-8 lg:h-12" alt="PneusPage Logo">
        </a>
    </div>
    <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1 text-sm">
            <li><a href="/doc" class="text-gray-700 hover:bg-purple-200 {% if active_page == 'doc' %}bg-purple-200{% endif %}">DOCUMENTATION</a></li>
            {% if login == True %}
                <li><a href="/submit" class="text-gray-700 hover:bg-purple-200 {% if active_page == 'submit' %}bg-purple-200{% endif %}">SUBMIT</a></li>
                <li><a id="nav-result" href="#" class="text-gray-700 hover:bg-purple-200 {% if active_page == 'result' %}bg-purple-200{% endif %}">RESULT</a></li>
                <li><a href="/mypage" class="text-gray-700 hover:bg-purple-200 {% if active_page == 'mypage' %}bg-purple-200{% endif %}">MYPAGE</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="navbar-end">
        {% if login == False %}
            <a id="login" href="/login" class="btn btn-sm text-white" style="background-color: #663399;">Login</a>
        {% else %}
            <span id="user_id" class="hidden">{{ user_key }}</span>
            <a id="logout" href="/logout" class="btn btn-ghost btn-sm text-gray-700 hover:bg-purple-200">Logout</a>
        {% endif %}
    </div>
</nav>
